.sp-doc-main {
    display: flex;
    height: 100vh;
}
.sp-doc-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    background: linear-gradient(135deg, #77ff008d 0%, #00d4aa75 70%, #82eebc8d 100%);
}
.sp-apply-doctor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 5rem;
    margin: 3rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    width: 90% !important;
    background: white;
}
.sp-hd-docDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    align-items: center;
    width: 90%;
    margin: auto;
}
.sp-hd-docDetails-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sp-hd-docDetails-item > label {
    margin: .5rem 0;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    align-items: start;
}
.sp-hd-docDetails-item input{
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    background-color: white;
    border: 1px solid rgb(107, 104, 104);
    border-radius: .4rem;
    font-size: clamp(1.1rem, 1.3vw, 1.3rem);
    max-width: 300px;
    width: 100%;
}
/* .sp-hd-docDetails-item last child styling */
.sp-hd-docDetails-item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.sp-hd-available{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.sp-hd-available-time{
    display: flex;
    align-items: flex-start;
    margin: 0 1rem;
}
.sp-hd-available-time > span{
    margin: 0 .5rem ;
}
.sp-available-btn{
    background: var(--dark-button);
    color: var(--color-bg);
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    margin: 1rem auto;
}

/* DOCTORS AND USER TABLES */
.sp-dash-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin: 3rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    width: 90% !important;
    background: white;
}
.sp-table {
    width: 100%;
    border-collapse: separate;
    border: 1px solid var(--color-bg);
    table-layout: auto;
    overflow-y: scroll;
    margin: 1rem 0;
}
.sp-table tr th{
    padding: 1rem;
    font-weight: 600;
}
.sp-table th,
.sp-table td {
    font-family: var(--font-family);
    line-height: 20px;
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    padding: .5rem 1rem;
    text-align: left;
    border: 1px solid var(--color-bg);
}
.sp-tablePage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}

