.sp-login {
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
}
.sp-loginTitle {
    font-size: 50px;
}
.sp-loginForm {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.sp-loginForm > label {
    margin: 1rem 0;
    font-size: clamp(1.1rem, 1.3vw, 1.3rem);
}
.sp-loginInput {
    padding: 1rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
    font-size: clamp(1.1rem, 1.3vw, 1.3rem);
}
.sp-loginInput:focus {
    outline: none;
}
.sp-loginButton {
    margin-top: 1.5rem;
    cursor: pointer;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
}
.sp-registerButton {
    position: absolute;
    top: 60px;
    right: 1.5rem;
    background-color: teal;
    cursor: pointer;
    padding: 1rem;
    border: none;
    color: white;
    border-radius: 1rem;
}
.sp-loginForm button {
    justify-self: center;
}
.sp-loginForm button:disabled{
    background-color: rgb(88, 5, 5);
    cursor: not-allowed;
}