.sp-sign {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background: linear-gradient(180deg, rgba(94, 243, 101, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), #ffffff;
}
.sp-signTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.sp-signForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    /* height: 80vh; */
    margin: 1.5rem auto 0 auto;
    background-color: #ffffff;
    padding: 1rem 3rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.sp-signForm > label {
    margin: .5rem 0;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    align-items: start;
}
.sp-signForm span{
    justify-content: center;
    margin: 1rem auto;
}
.sp-signInput,
.sp-signInput input[type="date"] {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    background-color: white;
    border: 1px solid rgb(107, 104, 104);
    border-radius: .4rem;
    font-size: clamp(1.1rem, 1.3vw, 1.3rem);
    width: 90%;
}
.sp-signInput:focus {
    outline: none;
}
.sp-signButton {
    margin-top: 1.5rem;
    cursor: pointer;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    align-self: center;
}
.sp-registerButton {
    position: absolute;
    top: 3rem;
    right: 1.5rem;
    background-color: teal;
    cursor: pointer;
    padding: 1rem;
    border: none;
    color: white;
    border-radius: 1rem;
    font-size: clamp(1.1rem, 1.3vw, 1.3rem);
}
.sp-registerButton:hover {
    background: var(--light-button);
    color: var(--dark-text);
}
.sp-signForm button {
    justify-self: center;
}
.sp-signForm button:disabled{
    background-color: rgb(88, 5, 5);
    cursor: not-allowed;
}