*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  background: none;
  font-family: 'Roboto';
  list-style: none;
}
h1{
  font-size: clamp(3.5rem, 3.5vw, 4.5rem);
  font-weight: 700;
  font-family: var(--font-family);
}
h2{
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  font-weight: 700;
  font-family: var(--font-family);
}
h3{
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 600;
  font-family: var(--font-family);
}
h4{
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-family);
}
a{
  font-size: clamp(1.1rem, 1.3vw, 1.3rem);
  color: #000;
  font-family: var(--links-font-family);
}
p, label, span{
  font-family: var(--font-family);
  line-height: 32px;
  font-size: clamp(1.1rem, 1.3vw, 1.3rem);
  font-weight: 400;
}
.sp-main{
  display: flex;
  height: 100vh;
}
.light-button{
  background: var(--light-button);
  color: var(--dark-text);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: clamp(1.1rem, 1.3vw, 1.3rem);
  font-weight: 600;
  margin: 1rem auto;
  width: 200px;
  text-transform: uppercase;
  justify-content: center;
}
.light-button:hover{
  background: var(--dark-button);
  color: var(--light-text);
}